version: 2

jobs:
   build:
     docker:
       - image: circleci/python:3.6-browsers
     steps:
       - checkout
       - run:
          name: get OS version
          command: uname -a
       - run:
          name: Install GeckoDriver for Firefox
          command: sudo bash geckodriver-install.sh
       - run:
          name: Install Selenium
          command: sudo pip install selenium
       - run:
          name: Install Pandas
          command: sudo pip install pandas
       - run:
          name: Run Price Search Test
          command: python ExpediaPriceLocator/PriceSearch/PriceSearch_Test.py