version: 2

jobs:
   build:
     docker:
       - image: circleci/python:3.6-browsers
     steps:
       - checkout
       - run:
          name: Install correct version of FF
          command: |
            sudo apt-get purge firefox
            wget https://sourceforge.net/projects/ubuntuzilla/files/mozilla/apt/pool/main/f/firefox-mozilla-build/firefox-mozilla-build_55.0.3-0ubuntu1_amd64.deb/download
            cd download/ && sudo dpkg -i firefox-mozilla-build_55.0.3-0ubuntu1_amd64.deb

       - run:
          name: Install GeckoDriver for Firefox
          command: sudo bash geckodriver-install.sh
       - run:
          name: Install Selenium
          command: sudo pip install selenium
       - run:
          name: Install Pandas
          command: sudo pip install pandas
       - run:
          name: Run Price Search Test
          command: python ExpediaPriceLocator/PriceSearch/PriceSearch_Test.py