version: 2

jobs:
   build:
     docker:
       - image: circleci/python:3.6-browsers
     steps:
       - checkout
       - run:
          name: Install Selenium
          command: pip install selenium
       - run:
          name: Install Pandas
          command: pip install pandas
       - run:
          name: Run Price Search Test
          command: python ExpediaPriceLocator/PriceSearch/PriceSearch_Test.py